.container {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #ccc;
}

.box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.4s ease;
}

/* Estados */
.box.active {
    transform: translateX(0);
}

.box.right {
    transform: translateX(100%);
}

.box.left {
    transform: translateX(-100%);
}
